################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/raft-DJPhelps1/FileContentIndex
/.vs/ProjectEvaluation/raft-djphelps1.metadata.v9.bin
/.vs/ProjectEvaluation/raft-djphelps1.projects.v9.bin
/.vs/ProjectEvaluation/raft-djphelps1.strings.v9.bin
/.vs/raft-DJPhelps1/DesignTimeBuild/.dtbcache.v2
/.vs/raft-DJPhelps1/v17/.futdcache.v2
/.vs/raft-DJPhelps1/v17/.suo
/.vs/raft-DJPhelps1/v17/.wsuo
/.vs/raft-DJPhelps1/v17/DocumentLayout.backup.json
/.vs/raft-DJPhelps1/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/raft-DJPhelps1/obj/Debug/net8.0/raft-DJPhelps1.AssemblyInfo.cs
/raft-DJPhelps1/obj/Debug/net8.0/raft-DJPhelps1.AssemblyInfoInputs.cache
/raft-DJPhelps1/obj/Debug/net8.0/raft-DJPhelps1.GeneratedMSBuildEditorConfig.editorconfig
/raft-DJPhelps1/obj/Debug/net8.0/raft-DJPhelps1.assets.cache
/raft-DJPhelps1/obj/project.assets.json
/raft-DJPhelps1/obj/project.nuget.cache
/raft-DJPhelps1/obj/raft-DJPhelps1.csproj.nuget.dgspec.json
/raft-DJPhelps1/obj/raft-DJPhelps1.csproj.nuget.g.props
/raft-DJPhelps1-Test/bin/Debug/net8.0/CoverletSourceRootsMapping_raft-DJPhelps1-Test
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.AssemblyInfo.cs
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.AssemblyInfoInputs.cache
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.assets.cache
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.csproj.AssemblyReference.cache
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.GeneratedMSBuildEditorConfig.editorconfig
/Websimulation/obj/Debug/net9.0/staticwebassets.removed.txt
/Websimulation/obj/Debug/net9.0/Websimulation.AssemblyInfo.cs
/Websimulation/obj/Debug/net9.0/Websimulation.AssemblyInfoInputs.cache
/Websimulation/obj/Debug/net9.0/Websimulation.assets.cache
/Websimulation/obj/Debug/net9.0/Websimulation.csproj.AssemblyReference.cache
/Websimulation/obj/Debug/net9.0/Websimulation.GeneratedMSBuildEditorConfig.editorconfig
/Websimulation/obj/project.assets.json
/Websimulation/obj/project.nuget.cache
/Websimulation/obj/Websimulation.csproj.nuget.dgspec.json
/Websimulation/obj/Websimulation.csproj.nuget.g.props
/raft-DJPhelps1-Test/obj/project.assets.json
/raft-DJPhelps1-Test/obj/raft-DJPhelps1-Test.csproj.nuget.dgspec.json
/raft-DJPhelps1-Test/obj/project.nuget.cache
/raft-DJPhelps1-Test/obj/raft-DJPhelps1-Test.csproj.nuget.g.props
/.vs/raft-DJPhelps1/v17/TestStore/0/010.testlog
/raft-DJPhelps1/bin/Debug/net8.0/raft-DJPhelps1.dll
/raft-DJPhelps1/bin/Debug/net8.0/raft-DJPhelps1.pdb
/raft-DJPhelps1/obj/Debug/net8.0/ref/raft-DJPhelps1.dll
/raft-DJPhelps1/obj/Debug/net8.0/refint/raft-DJPhelps1.dll
/raft-DJPhelps1/obj/Debug/net8.0/raft-DJPhelps1.dll
/raft-DJPhelps1/obj/Debug/net8.0/raft-DJPhelps1.pdb
/raft-DJPhelps1/obj/Debug/net8.0/raft-DJPhelps1.sourcelink.json
/raft-DJPhelps1-Test/bin/Debug/net8.0/raft-DJPhelps1-Test.dll
/raft-DJPhelps1-Test/bin/Debug/net8.0/raft-DJPhelps1-Test.pdb
/raft-DJPhelps1-Test/bin/Debug/net8.0/raft-DJPhelps1.dll
/raft-DJPhelps1-Test/bin/Debug/net8.0/raft-DJPhelps1.pdb
/raft-DJPhelps1-Test/obj/Debug/net8.0/ref/raft-DJPhelps1-Test.dll
/raft-DJPhelps1-Test/obj/Debug/net8.0/refint/raft-DJPhelps1-Test.dll
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.dll
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.pdb
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.sourcelink.json
/Websimulation/bin/Debug/net9.0/raft-DJPhelps1.dll
/Websimulation/bin/Debug/net9.0/raft-DJPhelps1.pdb
/Websimulation/bin/Debug/net9.0/Websimulation.dll
/Websimulation/bin/Debug/net9.0/Websimulation.exe
/Websimulation/bin/Debug/net9.0/Websimulation.pdb
/Websimulation/bin/Debug/net9.0/Websimulation.staticwebassets.endpoints.json
/Websimulation/bin/Debug/net9.0/Websimulation.staticwebassets.runtime.json
/Websimulation/obj/Debug/net9.0/compressed/12e5qbgrli-43atpzeawx.gz
/Websimulation/obj/Debug/net9.0/compressed/1362est87s-q9ht133ko3.gz
/Websimulation/obj/Debug/net9.0/compressed/1lbvyl2od6-rxsg74s51o.gz
/Websimulation/obj/Debug/net9.0/compressed/394sqjd3fc-y7v9cxd14o.gz
/Websimulation/obj/Debug/net9.0/compressed/4rdawhgnhe-e87ufbsqg4.gz
/Websimulation/obj/Debug/net9.0/compressed/5b6s76f1et-kbrnm935zg.gz
/Websimulation/obj/Debug/net9.0/compressed/5l7uas4w1h-jd9uben2k1.gz
/Websimulation/obj/Debug/net9.0/compressed/5z22901ia5-wl58j5mj3v.gz
/Websimulation/obj/Debug/net9.0/compressed/6s1olxtmon-22vffe00uq.gz
/Websimulation/obj/Debug/net9.0/compressed/7sxhz98rfv-ee0r1s7dh0.gz
/Websimulation/obj/Debug/net9.0/compressed/7um048poph-h1s4sie4z3.gz
/Websimulation/obj/Debug/net9.0/compressed/9fayic7v8l-gye83jo8yx.gz
/Websimulation/obj/Debug/net9.0/compressed/ad4d9l39f5-fvhpjtyr6v.gz
/Websimulation/obj/Debug/net9.0/compressed/bsvu6iw55u-r4e9w2rdcm.gz
/Websimulation/obj/Debug/net9.0/compressed/c84a25bole-u9q1upor1n.gz
/Websimulation/obj/Debug/net9.0/compressed/clzc95zjed-0j3bgjxly4.gz
/Websimulation/obj/Debug/net9.0/compressed/comuxdzn2d-xvp3kq03qx.gz
/Websimulation/obj/Debug/net9.0/compressed/damigsjq05-fsbi9cje9m.gz
/Websimulation/obj/Debug/net9.0/compressed/dcuea7aour-j5mq2jizvt.gz
/Websimulation/obj/Debug/net9.0/compressed/e3s86ul3ux-d4r6k3f320.gz
/Websimulation/obj/Debug/net9.0/compressed/f8uzd57li6-hd3gran6i8.gz
/Websimulation/obj/Debug/net9.0/compressed/fdkvbz0kl5-zub09dkrxp.gz
/Websimulation/obj/Debug/net9.0/compressed/g8kv1ei6sv-aexeepp0ev.gz
/Websimulation/obj/Debug/net9.0/compressed/h3rtum6rxk-4d85u1mtcx.gz
/Websimulation/obj/Debug/net9.0/compressed/iza7gzy1fd-keugtjm085.gz
/Websimulation/obj/Debug/net9.0/compressed/j2vsga7ah9-c2oey78nd0.gz
/Websimulation/obj/Debug/net9.0/compressed/k174vu83k6-khy4lop6wu.gz
/Websimulation/obj/Debug/net9.0/compressed/lbtptzapcw-c63t5i9ira.gz
/Websimulation/obj/Debug/net9.0/compressed/lifde7c8oc-4094rpi4f9.gz
/Websimulation/obj/Debug/net9.0/compressed/luuveh4sb4-t1cqhe9u97.gz
/Websimulation/obj/Debug/net9.0/compressed/mq9jwr0tfx-cosvhxvwiu.gz
/Websimulation/obj/Debug/net9.0/compressed/myr5vsqxsz-6pdc2jztkx.gz
/Websimulation/obj/Debug/net9.0/compressed/ndf0f6vpbt-c2jlpeoesf.gz
/Websimulation/obj/Debug/net9.0/compressed/nn9yhagcg8-ltid2c489k.gz
/Websimulation/obj/Debug/net9.0/compressed/pzjdg6k0j1-ft3s53vfgj.gz
/Websimulation/obj/Debug/net9.0/compressed/qkdcspx3w6-e87ufbsqg4.gz
/Websimulation/obj/Debug/net9.0/compressed/qt70o1t6f4-sejl45xvog.gz
/Websimulation/obj/Debug/net9.0/compressed/qt9kc07lvp-ausgxo2sd3.gz
/Websimulation/obj/Debug/net9.0/compressed/rlh6hsd0tz-hrwsygsryq.gz
/Websimulation/obj/Debug/net9.0/compressed/rppzkidip1-ynyaa8k90p.gz
/Websimulation/obj/Debug/net9.0/compressed/th4liq5ryn-iovd86k7lj.gz
/Websimulation/obj/Debug/net9.0/compressed/u2ewfonphg-v0zj4ognzu.gz
/Websimulation/obj/Debug/net9.0/compressed/ur4yl75kmh-pj5nd1wqec.gz
/Websimulation/obj/Debug/net9.0/compressed/vaod42yrna-nvvlpmu67g.gz
/Websimulation/obj/Debug/net9.0/compressed/w4uk1azmco-tmc1g35s3z.gz
/Websimulation/obj/Debug/net9.0/compressed/ys5zhwghiy-qesaa3a1fm.gz
/Websimulation/obj/Debug/net9.0/compressed/z3gmyvb196-8vyfqsqgz1.gz
/Websimulation/obj/Debug/net9.0/ref/Websimulation.dll
/Websimulation/obj/Debug/net9.0/refint/Websimulation.dll
/Websimulation/obj/Debug/net9.0/staticwebassets/msbuild.Websimulation.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/Websimulation/obj/Debug/net9.0/apphost.exe
/Websimulation/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/Websimulation/obj/Debug/net9.0/staticwebassets.build.json
/Websimulation/obj/Debug/net9.0/staticwebassets.development.json
/Websimulation/obj/Debug/net9.0/staticwebassets.pack.json
/Websimulation/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/Websimulation/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
/Websimulation/obj/Debug/net9.0/Websimulation.csproj.CoreCompileInputs.cache
/Websimulation/obj/Debug/net9.0/Websimulation.csproj.FileListAbsolute.txt
/Websimulation/obj/Debug/net9.0/Websimulation.dll
/Websimulation/obj/Debug/net9.0/Websimulation.genruntimeconfig.cache
/Websimulation/obj/Debug/net9.0/Websimulation.pdb
/Websimulation/obj/Debug/net9.0/Websimulation.sourcelink.json
/Websimulation/obj/Debug/net9.0/staticwebassets/msbuild.Websimulation.Microsoft.AspNetCore.StaticWebAssets.props
/.vs/raft-DJPhelps1/config/applicationhost.config
/.vs/raft-DJPhelps1/v17/TestStore/0/020.testlog
/.vs/raft-DJPhelps1/v17/TestStore/0/testlog.manifest
/raft-DJPhelps1/obj/Debug/net8.0/raft-DJPhelps1.csproj.CoreCompileInputs.cache
/Websimulation/bin/Debug/net9.0/Microsoft.AspNetCore.Authorization.dll
/Websimulation/bin/Debug/net9.0/Microsoft.AspNetCore.Components.dll
/Websimulation/bin/Debug/net9.0/Microsoft.AspNetCore.Components.Forms.dll
/Websimulation/bin/Debug/net9.0/Microsoft.AspNetCore.Components.Web.dll
/Websimulation/bin/Debug/net9.0/Microsoft.AspNetCore.Metadata.dll
/Websimulation/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Websimulation/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
/Websimulation/bin/Debug/net9.0/Microsoft.Extensions.Localization.Abstractions.dll
/Websimulation/bin/Debug/net9.0/Microsoft.Extensions.Localization.dll
/Websimulation/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
/Websimulation/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
/Websimulation/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
/Websimulation/bin/Debug/net9.0/Microsoft.JSInterop.dll
/Websimulation/bin/Debug/net9.0/MudBlazor.dll
/Websimulation/bin/Debug/net9.0/Websimulation.deps.json
/Websimulation/obj/Debug/net9.0/compressed/0wz98yz2xy-u9015k2po7.gz
/Websimulation/obj/Debug/net9.0/compressed/tzxjg6is5z-du7z45fy1o.gz
/Websimulation/obj/Debug/net9.0/ApiEndpoints.json
/Websimulation/obj/Debug/net9.0/Websimulation.csproj.BuildWithSkipAnalyzers
/Websimulation/obj/Websimulation.csproj.nuget.g.targets
