################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/raft-DJPhelps1/FileContentIndex
/.vs/ProjectEvaluation/raft-djphelps1.metadata.v9.bin
/.vs/ProjectEvaluation/raft-djphelps1.projects.v9.bin
/.vs/ProjectEvaluation/raft-djphelps1.strings.v9.bin
/.vs/raft-DJPhelps1/DesignTimeBuild/.dtbcache.v2
/.vs/raft-DJPhelps1/v17/.futdcache.v2
/.vs/raft-DJPhelps1/v17/.suo
/.vs/raft-DJPhelps1/v17/.wsuo
/.vs/raft-DJPhelps1/v17/DocumentLayout.backup.json
/.vs/raft-DJPhelps1/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/raft-DJPhelps1/obj/Debug/net8.0/raft-DJPhelps1.AssemblyInfo.cs
/raft-DJPhelps1/obj/Debug/net8.0/raft-DJPhelps1.AssemblyInfoInputs.cache
/raft-DJPhelps1/obj/Debug/net8.0/raft-DJPhelps1.GeneratedMSBuildEditorConfig.editorconfig
/raft-DJPhelps1/obj/Debug/net8.0/raft-DJPhelps1.assets.cache
/raft-DJPhelps1/obj/project.assets.json
/raft-DJPhelps1/obj/project.nuget.cache
/raft-DJPhelps1/obj/raft-DJPhelps1.csproj.nuget.dgspec.json
/raft-DJPhelps1/obj/raft-DJPhelps1.csproj.nuget.g.props
/raft-DJPhelps1-Test/bin/Debug/net8.0/CoverletSourceRootsMapping_raft-DJPhelps1-Test
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.AssemblyInfo.cs
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.AssemblyInfoInputs.cache
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.assets.cache
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.csproj.AssemblyReference.cache
/raft-DJPhelps1-Test/obj/Debug/net8.0/raft-DJPhelps1-Test.GeneratedMSBuildEditorConfig.editorconfig
/Websimulation/obj/Debug/net9.0/staticwebassets.removed.txt
/Websimulation/obj/Debug/net9.0/Websimulation.AssemblyInfo.cs
/Websimulation/obj/Debug/net9.0/Websimulation.AssemblyInfoInputs.cache
/Websimulation/obj/Debug/net9.0/Websimulation.assets.cache
/Websimulation/obj/Debug/net9.0/Websimulation.csproj.AssemblyReference.cache
/Websimulation/obj/Debug/net9.0/Websimulation.GeneratedMSBuildEditorConfig.editorconfig
/Websimulation/obj/project.assets.json
/Websimulation/obj/project.nuget.cache
/Websimulation/obj/Websimulation.csproj.nuget.dgspec.json
/Websimulation/obj/Websimulation.csproj.nuget.g.props
/raft-DJPhelps1-Test/obj/project.assets.json
/raft-DJPhelps1-Test/obj/raft-DJPhelps1-Test.csproj.nuget.dgspec.json
/raft-DJPhelps1-Test/obj/project.nuget.cache
/raft-DJPhelps1-Test/obj/raft-DJPhelps1-Test.csproj.nuget.g.props
