################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
bin/
config/
.vs/
/RaftRESTAPI/obj/Release/net9.0/RaftRESTAPI.AssemblyInfo.cs
/RaftRESTAPI/obj/Release/net9.0/RaftRESTAPI.AssemblyInfoInputs.cache
/RaftRESTAPI/obj/Release/net9.0/RaftRESTAPI.assets.cache
/RaftRESTAPI/obj/project.assets.json
/RaftRESTAPI/obj/project.nuget.cache
/RaftRESTAPI/obj/RaftRESTAPI.csproj.nuget.dgspec.json
/RaftRESTAPI/obj/RaftRESTAPI.csproj.nuget.g.targets
