@page "/"
@rendermode InteractiveServer
@using raft_DJPhelps1;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    List<SimulationNode> simulationNodes = new List<SimulationNode>();
        void StartSim(){
            var node1 = new Node();
            var node2 = new Node();
            var node3 = new Node();

            simulationNodes.Add(new SimulationNode(new Node()));
            simulationNodes.Add(new SimulationNode(new Node()));
            simulationNodes.Add(new SimulationNode(new Node()));
        }
}
